<div class="card login-card">
  <div class="card-block">
      <form class="k-form" [formGroup]="form" (ngSubmit)="login()">
          <fieldset>
              <legend>User Credentials</legend>
            <span *ngFor="let message of (authRequest | async).errors" class="k-required">
              {{ message }}
            </span>
              <label class="k-form-field">
                  <span>Email</span>
                  <input class="k-textbox" type="email" placeholder="Your Email" formControlName="email" />
              </label>
              <label class="k-form-field">
                <span>Password</span>
                <input type="password" class="k-textbox" formControlName="password" placeholder="Your password"/>
            </label>
          </fieldset>

          <div class="text-right">
            <button type="submit" kendoButton [primary]="true">
              <span class="k-icon k-i-loading" *ngIf="(authRequest | async).loading"></span>
              <span> Login</span>
            </button>
            <span> - or - </span>
            <a routerLink="/register">Register</a>
          </div>
      </form>
  </div>
</div>
