<kendo-grid
    height="540"
    [loading]="loading"
    [data]="gridData | async"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [filter]="state.filter"
    [sortable]="true"
    [pageable]="true"
    filterable="menu"
    [selectable]="true"
    (dataStateChange)="dataStateChange($event)"
    (edit)="editHandler($event)"
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)"
    (remove)="removeHandler($event)"
    (add)="addHandler($event)"
>
    <ng-template kendoGridToolbarTemplate position="top">
        <!-- <button kendoGridAddCommand kendoButton ></button> -->
        <div>
            <kendo-splitbutton [data]="menuData">
                    New
            </kendo-splitbutton>
        </div>
    </ng-template>
    <!--<kendo-grid-column field="incomeId" title="Deposit ID" width="100" [filterable]="false" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column field="costId" title="Withdrawal ID" width="115" [filterable]="false" [sortable]="false"></kendo-grid-column>-->
    <kendo-grid-column field="date" title="Date" format="{0:MMMM d, y}" width="150">
        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
          <app-date-range-filter
            [field]="column.field"
            [filter]="filter"
            [filterService]="filterService">
          </app-date-range-filter>
        </ng-template>
      </kendo-grid-column>
    <kendo-grid-column field="reason" title="Reason" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column field="withdrawal" title="Withdrawal" width="120" format="{0:c}" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column field="deposit" title="Deposit" width="120" format="{0:c}" [filterable]="false"></kendo-grid-column>
    
    <kendo-grid-column field="createdAt" title="Created" format="{0:MMMM d, y}" width="150" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column field="updatedAt" title="Updated" format="{0:MMMM d, y}" width="150" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column field="isTest" title="Simulation" width="110" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.isTest" disabled/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-command-column title="command" width="220">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
            <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
        </ng-template>
    </kendo-grid-command-column>

</kendo-grid>

<div kendoDialogContainer></div>
