<kendo-grid
    height="540"
    [loading]="loading"
    [data]="gridData | async"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [filter]="state.filter"
    [sortable]="true"
    [pageable]="true"
    filterable="menu"
    [selectable]="true"
    (dataStateChange)="dataStateChange($event)"
>
    <!--<kendo-grid-column field="incomeId" title="Deposit ID" width="100" [filterable]="false" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column field="costId" title="Withdrawal ID" width="115" [filterable]="false" [sortable]="false"></kendo-grid-column>-->
    <kendo-grid-column field="reason" title="Reason" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column field="withdrawal" title="Withdrawal" width="120" format="{0:c}" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column field="deposit" title="Deposit" width="120" format="{0:c}" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column field="date" title="Date" format="{0:MMMM d, y}" width="150">
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <app-date-range-filter
          [field]="column.field"
          [filter]="filter"
          [filterService]="filterService">
        </app-date-range-filter>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="createdAt" title="Created" format="{0:MMMM d, y}" width="130" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column field="updatedAt" title="Updated" format="{0:MMMM d, y}" width="130" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column field="isTest" title="Test" width="80" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.isTest" disabled/>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
