
<div kendoDialogContainer></div>
<div class="row">
  <div class="col-md-8">
    <app-tile>
      <h4 slot="title">
        Accounts
      </h4>
      <kendo-grid
        slot="body"
        height="540"
        [loading]="loading | async"
        [data]="gridData | async"
        [filter]="state.filter"
        [sort]="state.sort"
        [sortable]="true"
        [pageable]="false"
        filterable="menu"
        [selectable]="true"
        [navigable]="true"
        (edit)="addEditAccount($event)"
        (dataStateChange)="dataStateChange($event)"
      >
        <ng-template kendoGridToolbarTemplate position="top">
          <div class="flex">
            <div>
              <div class="float-left">
                <button kendoButton class="visible-on-hover" icon="plus" (click)="addEditAccount()"></button>
              </div>
            </div>
          </div>
        </ng-template>
<!--        <kendo-grid-column field="id" title="ID" width="30" [filterable]="false" [sortable]="false"></kendo-grid-column>-->
        <kendo-grid-column field="name" title="Name" width="60" [filterable]="true" [sortable]="true"></kendo-grid-column>
        <kendo-grid-column field="currency.currency" title="Currency" width="100" [filterable]="true" [sortable]="true"></kendo-grid-column>
        <kendo-grid-column field="currency.sign" title="Abbreviation" width="50" [filterable]="true" [sortable]="true"></kendo-grid-column>
        <kendo-grid-column field="currency.country" title="Country" width="100" [filterable]="true" [sortable]="true"></kendo-grid-column>
        <kendo-grid-column field="amount" title="Amount" format="{0:c}" width="100" [filterable]="true" [sortable]="true"></kendo-grid-column>
        <kendo-grid-command-column title="Actions" width="40">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true" look="outline" icon="edit" title="Update" kendoTooltip></button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </app-tile>

  </div>
  <div class="col-md-4">
    <app-tile>
      <h4 slot="title">
        Total Balance
      </h4>
      <div slot="body">
        <kendo-chart>
          <kendo-chart-series>
            <kendo-chart-series-item
              type="donut" [data]="balance$ | async" categoryField="name" field="amount">
              <kendo-chart-series-item-labels
                [content]="labelBalanceContent"
                position="outsideEnd"
                color="color" background="none">
              </kendo-chart-series-item-labels>
            </kendo-chart-series-item>
          </kendo-chart-series>
          <kendo-chart-legend [visible]="false"></kendo-chart-legend>
        </kendo-chart>
      </div>
    </app-tile>
  </div>
</div>
