<form [formGroup]="form" class="form k-form-inline" kendoTooltip>
  <kendo-splitter style="height: 235px;">
    <kendo-splitter-pane size="35%" min="30%">
      <div class="padding">
        <div class="flex no-space-betwin padding container"> <!--hover-->
          <div class="full-width float-left category-row">
            <label class="k-form-field no-padding no-margin full-width">
              <span class="k-field-info">Category
                      <span
                        class="k-icon k-i-information k-i-info"
                        title="Select some category. It will be used for reports."
                      ></span>
              </span>
              <span *ngIf="!combo.isOpen">
                <span #anchor></span>
              </span>
              <kendo-combobox class="full-width" [data]="allCategories | async" [valuePrimitive]="false" textField="category" valueField="id" formControlName="category">
                <ng-template kendoComboBoxHeaderTemplate>
                  <button class="visible-on-hover" (click)="openCategoryDialog()" kendoButton icon="plus" #anchor>Create</button>
                </ng-template>
              </kendo-combobox>
            </label>
          </div>
        </div>
        <div class="clear"></div>
        <kendo-popup [popupClass]="'content popup'" [anchor]="anchor" #popup (anchorViewportLeave)="show = false" *ngIf="show">
          <div class="popup-width">
            <div class="padding">
              <h4>Create category</h4>
            </div>
            <form [formGroup]="categoryForm">
              <div class="padding">
                <label class="k-form-field">
                <span class="k-field-info">Category Name
                </span>
                  <input type="text" kendoTextBox placeholder="Category Name" formControlName="category">
                </label>
              </div>
              <kendo-buttongroup [width]="'100%'">
                <button kendoButton (click)="show = false">Cancel</button>
                <button kendoButton [primary]="true" (click)="createCategory($event)">Save</button>
              </kendo-buttongroup>
            </form>
          </div>
        </kendo-popup>
        <label class="k-form-field">
                        <span class="k-field-info">Note
                            <span
                              class="k-icon k-i-information k-i-info"
                              title="Add some note for this Transaction"
                            ></span>
                        </span>
          <textarea kendoTextArea formControlName="comment" style="width: 100%;height: 50px;" rows="1"
                    class=full-width></textarea>
        </label>
      </div>
    </kendo-splitter-pane>
    <kendo-splitter-pane size="30%" min="30%">
      <div class="padding" [formGroup]="currencyForm">
        <label class="k-form-field">
          <span class="k-field-info">Currency from:
            <span
              class="k-icon k-i-information k-i-info"
              title="Currency in which you enter the amount"
            ></span>
          </span>
          <kendo-combobox
            class="full-with"
            [data]="currencies$ | async"
            [valuePrimitive]="false"
            textField="sign"
            valueField="id"
            formControlName="from"
          ></kendo-combobox>
        </label>

        <label class="k-form-field">
                                <span class="k-field-info">Rate
                                    <span
                                      class="k-icon k-i-information k-i-info"
                                      title="The rate for selected currencies"
                                    ></span>
                                </span>
          <kendo-numerictextbox formControlName="rate" class="full-width" placeholder="Rate"></kendo-numerictextbox>
        </label>

        <label class="k-form-field">
          <span class="k-field-info">To account currency:
            <span
              class="k-icon k-i-information k-i-info"
              title="The currency in which is your selected account. It aways will be preselected from the account"
            ></span>
          </span>
          <kendo-combobox
            #accountCurrency
            class="full-with"
            [data]="currencies$ | async"
            [valuePrimitive]="false"
            textField="sign"
            valueField="id"
            formControlName="to"
          ></kendo-combobox>
        </label>
      </div>
    </kendo-splitter-pane>
    <kendo-splitter-pane>
      <div class="padding">
        <div>
          <div class="float-left half-with">
            <label class="k-form-field">
              <span class="k-field-info">Transaction Type: </span>
              <kendo-dropdownlist
                class="full-with"
                [data]="transactionStateList"
                formControlName="type"
              ></kendo-dropdownlist>
            </label>
          </div>
          <div class="float-left half-with">
            <label class="k-form-field">
              <span class="k-field-info">Account: </span>
              <kendo-dropdownlist
                class="full-with"
                [data]="accounts | async"
                [valuePrimitive]="false"
                textField="name"
                valueField="id"
                formControlName="account"
              >
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                  <span>{{ dataItem?.name }} {{ dataItem?.currency ? ' / ' + dataItem?.currency.sign : '' }}</span>
                </ng-template>
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span>{{ dataItem?.name }} {{ dataItem?.currency ? ' / ' + dataItem?.currency.sign : '' }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </label>
          </div>
          <div class="clear"></div>
        </div>
        <div>
          <div class="half-with float-left">
            <label class="k-form-field">
                                <span class="k-field-info">Transaction Date:
                                <span
                                  class="k-icon k-i-information k-i-info"
                                  title="When this transaction was made"
                                ></span>
                                </span>
              <kendo-datepicker class="full-with" formControlName="date"></kendo-datepicker>
            </label>
          </div>
          <div class="half-with float-left">
            <label class="k-form-field">
                                <span class="k-field-info">Amount
                                    <span
                                      class="k-icon k-i-information k-i-info"
                                      [title]="currencyForm.controls['to'] && currencyForm.controls['to'].value && currencyForm.controls['to'].value.sign ? 'The amount in ' + currencyForm.controls['to'].value.sign : 'The amount in selected currency'"
                                    ></span>
                                </span>
              <kendo-numerictextbox class="full-width" placeholder="Amount"
                                    formControlName="amount"></kendo-numerictextbox>
            </label>
          </div>
        </div>
        <label class="k-form-field">
                        <span class="full-width k-field-info">Simulation
                            <span
                              class="k-icon k-i-information k-i-info"
                              title="If it's used for simulation. It's not real Transaction"
                            ></span>
                        </span>
          <kendo-switch
            formControlName="simulation"
            onLabel="Yes"
            offLabel="No"
          ></kendo-switch>
        </label>
      </div>
    </kendo-splitter-pane>
  </kendo-splitter>
</form>
