<form [formGroup]="form" class="form k-form-inline" kendoTooltip>
  <kendo-splitter style="height: 235px;">
    <kendo-splitter-pane size="49.5%" min="40%">
      <div class="padding">
        <div class="flex no-space-betwin padding container hover">
          <div class="half-with float-left category-row">
            <label class="k-form-field no-padding no-margin">
                    <span class="k-field-info">Category
                            <span
                              class="k-icon k-i-information k-i-info"
                              title="Select some category. It will be used for reports."
                            ></span>
                        </span>
              <kendo-combobox [data]="allCategories | async" [valuePrimitive]="false" textField="category"
                              valueField="id" formControlName="category">
              </kendo-combobox>
            </label>
          </div>
          <div class="half-with float-left category-row flex no-space-betwin">
            <button class="visible-on-hover" #anchor (click)="openCategoryDialog()" kendoButton icon="plus"></button>
          </div>
        </div>
        <div class="clear"></div>
        <kendo-popup [popupClass]="'content popup'" [anchor]="anchor" #popup (anchorViewportLeave)="show = false" *ngIf="show">
          <div class="popup-width">
            <div class="padding">
              <h4>Create category</h4>
            </div>
            <form [formGroup]="categoryForm">
              <div class="padding">
                <label class="k-form-field">
                <span class="k-field-info">Category Name
                </span>
                  <input type="text" kendoTextBox placeholder="Category Name" formControlName="category">
                </label>
              </div>
              <kendo-buttongroup [width]="'100%'">
                <button kendoButton (click)="show = false">Cancel</button>
                <button kendoButton [primary]="true" (click)="createCategory($event)">Save</button>
              </kendo-buttongroup>
            </form>
          </div>
        </kendo-popup>
        <label class="k-form-field">
                        <span class="k-field-info">Comment
                            <span
                              class="k-icon k-i-information k-i-info"
                              title="Enter some comment for this Transaction"
                            ></span>
                        </span>
          <textarea kendoTextArea formControlName="comment" style="width: 100%;" rows="4" class=full-width></textarea>
        </label>
      </div>
    </kendo-splitter-pane>
    <kendo-splitter-pane>
      <div class="padding">
        <label class="k-form-field">
          <span class="k-field-info">Transaction Type: </span>
          <kendo-dropdownlist
            class="full-with"
            [data]="transactionStateList"
            formControlName="type"
          ></kendo-dropdownlist>
        </label>
        <div>
          <div class="half-with float-left">
            <label class="k-form-field">
                                <span class="k-field-info">Transaction Date:
                                <span
                                  class="k-icon k-i-information k-i-info"
                                  title="When this transaction was made"
                                ></span>
                                </span>
              <kendo-datepicker class="full-with" formControlName="date"></kendo-datepicker>
            </label>
          </div>
          <div class="half-with float-left">
            <label class="k-form-field">
                                <span class="k-field-info">Amount
                                    <span
                                      class="k-icon k-i-information k-i-info"
                                      title="The amount in BGN"
                                    ></span>
                                </span>
              <kendo-numerictextbox class="full-width" placeholder="Amount"
                                    formControlName="amount"></kendo-numerictextbox>
            </label>
          </div>
        </div>
        <label class="k-form-field">
                        <span class="full-width k-field-info">Simulation
                            <span
                              class="k-icon k-i-information k-i-info"
                              title="If it's used for simulation. It's not real Transaction"
                            ></span>
                        </span>
          <kendo-switch
            formControlName="simulation"
            onLabel="Yes"
            offLabel="No"
          ></kendo-switch>
        </label>
      </div>
    </kendo-splitter-pane>
  </kendo-splitter>
</form>
