<form [formGroup]="form" class="form k-form-inline">
  <kendo-splitter style="height: 172px;">
    <kendo-splitter-pane size="49.5%" min="40%">
      <div class="flex no-space-betwin padding">
        <div class="account-row full-width">
          <label class="k-form-field flex-row">
            <span class="k-field-info">Account: </span>
            <kendo-dropdownlist
              #withdrawal
              [data]="accounts$ | async"
              [valuePrimitive]="false"
              textField="name"
              valueField="id"
              formControlName="withdrawalAccount"
              class="full-width"
            >
              <ng-template kendoDropDownListValueTemplate let-dataItem>
                <span>{{ dataItem?.name }} {{ dataItem?.currency ? ' / ' + dataItem?.currency.sign : '' }}</span>
              </ng-template>
              <ng-template kendoDropDownListItemTemplate let-dataItem>
                <span>{{ dataItem?.name }} {{ dataItem?.currency ? ' / ' + dataItem?.currency.sign : '' }}</span>
              </ng-template>

            </kendo-dropdownlist>
          </label>
          <label class="k-form-field flex-row">
            <span class="k-field-info">Account: </span>
            <kendo-dropdownlist
              #deposit
              [data]="accounts$ | async"
              [valuePrimitive]="false"
              textField="name"
              valueField="id"
              formControlName="depositAccount"
              class="full-width"
            >
              <ng-template kendoDropDownListValueTemplate let-dataItem>
                <span>{{ dataItem?.name }} {{ dataItem?.currency ? ' / ' + dataItem?.currency.sign : '' }}</span>
              </ng-template>
              <ng-template kendoDropDownListItemTemplate let-dataItem>
                <span>{{ dataItem?.name }} {{ dataItem?.currency ? ' / ' + dataItem?.currency.sign : '' }}</span>
              </ng-template>
            </kendo-dropdownlist>
          </label>
        </div>
      </div>
    </kendo-splitter-pane>
    <kendo-splitter-pane>
      <div class="flex no-space-betwin padding">
        <div class="account-row full-width">
          <label class="k-form-field flex-row">
                                <span class="k-field-info">Amount
                                    <span
                                      class="k-icon k-i-information k-i-info"
                                      title="The amount in {{ withdrawal.value.currency.sign }}"
                                    ></span>
                                </span>
            <kendo-numerictextbox class="full-width" placeholder="Amount"
                                  formControlName="amount"></kendo-numerictextbox>
          </label>
          <label class="k-form-field flex-row">
                                <span class="k-field-info">Rate
                                    <span
                                      class="k-icon k-i-information k-i-info"
                                      [title]="deposit?.value?.currency?.sign ? 'The rate of ' + deposit?.value?.currency?.sign + ' vs ' +  withdrawal?.value?.currency?.sign : 'Please, select Account'"
                                    ></span>
                                </span>
            <kendo-numerictextbox class="full-width" placeholder="Rate"
                                  formControlName="rate"></kendo-numerictextbox>
          </label>
        </div>
      </div>
    </kendo-splitter-pane>
  </kendo-splitter>
</form>
