/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
//@import "~@progress/kendo-theme-material/scss/all";
//@import "~@progress/kendo-theme-default/scss/all";

@import "~@progress/kendo-theme-bootstrap/scss/all";
@import "~bootstrap/scss/bootstrap";

body, html {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
.full-width {
    width: 100%!important;
}
::ng-deep .full-width {
    width: 100%!important;
}
.vertical-allign {
    align-items: center;
}
.flex {
    display: flex;
    justify-content: space-between;
  .no-space-betwin {
    justify-content: left;
  }
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.half-with {
    width: 50%;
}
.padding {
    padding: 10px;
  &.without-padding{
    &.left {
      padding-left: 0;
    }
    &.right {
      padding-right: 0;
    }
    &.top {
      padding-top: 0;
    }
    &.bottom {
      padding-bottom: 0;
    }
  }
  &.extra {
    padding: 40px;
  }
  &.left {
    padding: 0 0 0 10px;
  }
}
.info {
  color: #b9b9b9;
}
.float-left {
    float: left!important;
}
.float-right {
    float: right;
}
.k-valid {
    color: green;
}
.clear {
  clear: both;
}
.no-padding {
  padding: 0!important;
}
.no-margin {
  margin: 0!important;
}
.hover {
  &:hover {
    .visible-on-hover {
      opacity: 1!important;
    }
  }
  .visible-on-hover {
    opacity: 0!important;
  }
}
.not-visible {
  visibility: hidden;
  opacity: 0;
}
.popup-width {
  width: 350px;
  input{
    width: 100%;
  }
}

.form {
  padding: 0;
  .k-form-field {
    // display: block!important;
    margin: 5px;
    padding: 5px;
    p {
      padding: 0;
      margin: 0;
    }
  }
}
.account-row {
  height: 56px;
  align-items: flex-end;
}
kendo-menu {
  z-index: 999;
}
.k-popup {
  &.account, &.category {
    padding: 0;
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.25);
  }
}
.k-toolbar {
  &:before {
    content: none;
  }
}
