<div class="header-landing-page">
  <h1>Accounting System</h1>
  <h6>System that combine the power of FinTech and the knowledge of skilled accountants!</h6>
  <a class="btn btn-primary" routerLink="/dashboard">Go to Dashboard</a>
</div>
<hr>
<div class="image-container">
  <div class="add-edit-account centered-image"></div>
  <div class="content">
    <h1>Accounts</h1>
    <div>
      <p>This accounting system, allows you to create accounts as many as you need.</p>
      <p>The process of creating and editing an account is made very simple.</p>
      <p>You can choose the name and the currency, so it will reflect your real accounts!</p>
    </div>
  </div>
</div>
<div class="image-container">
  <div class="new-transaction centered-image"></div>
  <div class="content">
    <h1>Transactions</h1>
    <div>
      <p>Creat transactions for all your purchases, bills, incomes etc.</p>
      <p>When you create a transaction, you can change the note or the date of when it was made.</p>
      <p>The dates and categories are very handy. Later you can query based on these criteria.</p>
    </div>
  </div>
</div>
<div class="image-container">
  <div class="filter-transaction-by-dates centered-image"></div>
  <div class="content">
    <h1>Filter and Search</h1>
    <div>
      <p>Filtering is very powerful tool! Especially when you have tens of thousands transactions per month.</p>
      <p>With our filters you can query transactions only for today or tomorrow. Transactions in specific category or a phrase in notes.</p>
      <p>You can see all of your transactions that are more than certain amount or in between a range!</p>
    </div>
  </div>
</div>
<div class="image-container">
  <div class="transaction-graph centered-image"></div>
  <div class="content">
    <h1>Graphs</h1>
    <div>
      <p>Often we are too busy or just can't see how much money we are spending in some areas.</p>
      <p>For that purpose we are creating dynamic graphs on every transaction that you make, so you can have better understanding where exactly your money goes!</p>
    </div>
  </div>
</div>
<div class="image-container">
  <div class="transfer-transaction centered-image"></div>
  <div class="content">
    <h1>Transfer Money</h1>
    <div>
      <p>You can easily transfer your money from one account to other!</p>
      <p>
        If the accounts are in different currencies the system will automatically convert the money based on the current rate.
      </p>
      <p>But if you are not agree with the online rate, you have the freedom to choose your own for every transaction!</p>
    </div>
  </div>
</div>

<div class="image-container">
  <div class="money-per-day centered-image"></div>
  <div class="content">
    <h1>Money Per Day</h1>
    <div>
      <p>This is an unique feature.</p>
      <p>You can see how much money you can spend per day, based on the money in your current selected account.</p>
      <p>This is very important if you are in the habit of spending money without counting. Like me!</p>
      <p>It really helps, when you have something to remind you about, how much you can afford, without getting in troubles!</p>
    </div>
  </div>
</div>
<hr>
<div class="d-flex padding justify-content-center flex-column footer-landing-page">
  <h4>So, what you think?</h4>
  <h6>Do you want to give it a try? &nbsp; <span class="text-danger">It's Free!</span></h6>
  <div>
    <a class="btn btn-primary" routerLink="/dashboard">Go to Dashboard</a>
  </div>
</div>
